body {
    background: #36c3e5;
    color: #fff;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    src: local('Sniglet Regular'), local('Sniglet-Regular'), url(SnigletRegular.woff) format('woff');
}
.container {
    font-family: 'Sniglet', 'Microsoft YaHei', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
}
.container h3 {
    cursor: pointer;
    margin: 0;
    padding: 5px;
    -webkit-transition: 0.2s all;
}
.container h3:hover, .container h3:active {
    color: rgba(0, 0, 0, 0.8);
}
.container p {
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
}
.container ul {
    margin: 0;
    position: relative;
    padding-bottom: 200px;
}
.container ul:last-of-type {
    margin-bottom: 100px;
}
.container ul li {
    -webkit-transition: 0.2s all;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: decimal;
    cursor: pointer;
}
.container ul li:hover, .container ul li:active {
    color: rgba(0, 0, 0, 0.8);
}
.loading_icon {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    margin-left: -100px;
    display: block;
}
.github {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    display: block;
    text-decoration: none;
}
.github:hover, .github:active {
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}
.github .github_icon {
    display: inline-block;
    margin: 0;
}
.github:hover .github_icon, .github:active .github_icon {
    -webkit-animation: github_icon_rotate 0.5s ease both;
}
@-webkit-keyframes github_icon_rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.github p {
    margin: 0;
    font-size: 18px;
}
.github:hover p, .github:active p {
    -webkit-animation: RubberBand 0.5s ease both;
}
@-webkit-keyframes RubberBand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
::-moz-selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}
::-webkit-selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
