body {
    background: #36c3e5;
    color: #fff;
}
.container {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
}
.container h3 {
    padding: 15px;
}
.container p {
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}
.container ul {
    position: relative;
}
.container ul li {
    margin-bottom: 15px;
    list-style: decimal;
}
.loading_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: -50px;
    display: block;
}
