body {
    background: #36c3e5;
    color: #fff;
}
.container {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
}
.container h3 {
    padding: 15px;
}
.container p {
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
}
.container ul {
    margin:0;
    position: relative;
    padding-bottom:200px;
}
.container ul li {
    margin-top:10px;
    margin-bottom: 10px;
    list-style: decimal;
}
.loading_icon {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    margin-left: -100px;
    display: block;
}
