/**
 * Reset some basic elements
 */

@font-face {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    src: local('Sniglet Regular'), local('Sniglet-Regular'), url(zaGgxcO7SfusqT6GpDlcHg.woff) format('woff');
}
pre, tt, code, kbd, samp {
    font-family: 'Sniglet';
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */

body {
    font-family: 'Sniglet', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111111;
    background: #fdfdfd url(../source/bg.png) repeat;
    -webkit-text-size-adjust: 100%;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 15px;
}
/**
 * Images
 */

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    vertical-align: middle;
}
.post-content img {
    border: 5px solid #16dcdc;
}
/**
 * Figures
 */

figure > img {
    display: block;
}
figcaption {
    font-size: 14px;
}
/**
 * Lists
 */

ul, ol {
    margin-left: 30px;
}
li > ul, li > ol {
    margin-bottom: 0;
}
/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
/**
 * Links
 */

a {
    color: #2a7ae2;
    text-decoration: none;
    -webkit-transition: all 0.2s;
}
a:visited {
    color: #1756a9;
}
a:hover {
    color: #111111;
}
.post-link:hover {
    text-indent: 10px;
}
/**
 * Blockquotes
 */

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}
blockquote >:last-child {
    margin-bottom: 0;
}
/**
 * Code formatting
 */

pre, code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}
code {
    padding: 1px 5px;
}
pre {
    padding: 8px 12px;
    overflow: auto;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
/**
 * Wrapper
 */

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}
/**
 * Clearfix
 */

.wrapper:after, .footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both;
}
/**
 * Icons
 */

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon > svg path {
    fill: #828282;
}
/**
 * Site header
 */

.site-header {
    /*border-top: 5px solid #424242;*/
    
    border-bottom: 3px solid #e8e8e8;
    min-height: 56px;
    position: relative;
}
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}
.site-title, .site-title:visited {
    color: #424242;
}
.site-nav {
    position: relative;
    z-index: 99999;
    float: right;
    line-height: 56px;
}
.site-nav .menu-icon {
    display: none;
}
.site-nav .page-link {
    color: #111111;
    line-height: 1.5;
    text-transform: capitalize;
}
.site-nav .page-link:hover {
    color: #2a7ae2;
}
.site-nav .page-link.active {
    color: #2a7ae2;
}
.site-nav .page-link:not(:first-child) {
    margin-left: 20px;
}
@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 10px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right;
    }
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
    .site-nav .menu-icon > svg {
        width: 18px;
        height: 15px;
    }
    .site-nav .menu-icon > svg path {
        fill: #424242;
    }
    .site-nav .trigger {
        clear: both;
        display: none;
    }
    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }
    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
    }
}
/**
 * Site footer
 */

.site-footer {
    border-top: 3px solid #e8e8e8;
    padding: 30px 0 60px;
}
.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
}
.contact-list, .social-media-list {
    list-style: none;
    margin-left: 0;
}
.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px;
}
.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}
.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2));
}
.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2));
}
.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2));
}
@media screen and (max-width: 800px) {
    .footer-col-1, .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}
@media screen and (max-width: 600px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}
/**
 * Page content
 */

.page-content {
    padding: 0 0 30px 0;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;
}
.post-list > li {
    margin-bottom: 30px;
}
.post-meta {
    font-size: 14px;
    color: #828282;
}
.post-link {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 24px;
}
/**
 * Posts
 */

.post-header {
    margin-bottom: 30px;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}
@media screen and (max-width: 800px) {
    .post-title {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: 30px;
}
.post-content h2 {
    font-size: 32px;
}
@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size: 28px;
    }
}
.post-content h3 {
    font-size: 26px;
}
@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size: 22px;
    }
}
.post-content h4 {
    font-size: 20px;
}
@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size: 18px;
    }
}
/**
 * Syntax highlighting styles
 */

.highlight {
    background: #fff;
}
.highlight .c {
    color: #998;
    font-style: italic;
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}
.highlight .k {
    font-weight: bold;
}
.highlight .o {
    font-weight: bold;
}
.highlight .cm {
    color: #998;
    font-style: italic;
}
.highlight .cp {
    color: #999;
    font-weight: bold;
}
.highlight .c1 {
    color: #998;
    font-style: italic;
}
.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
}
.highlight .gd {
    color: #000;
    background-color: #ffdddd;
}
.highlight .gd .x {
    color: #000;
    background-color: #ffaaaa;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gr {
    color: #aa0000;
}
.highlight .gh {
    color: #999999;
}
.highlight .gi {
    color: #000;
    background-color: #ddffdd;
}
.highlight .gi .x {
    color: #000;
    background-color: #aaffaa;
}
.highlight .go {
    color: #888888;
}
.highlight .gp {
    color: #555555;
}
.highlight .gs {
    font-weight: bold;
}
.highlight .gu {
    color: #aaaaaa;
}
.highlight .gt {
    color: #aa0000;
}
.highlight .kc {
    font-weight: bold;
}
.highlight .kd {
    font-weight: bold;
}
.highlight .kp {
    font-weight: bold;
}
.highlight .kr {
    font-weight: bold;
}
.highlight .kt {
    color: #458;
    font-weight: bold;
}
.highlight .m {
    color: #009999;
}
.highlight .s {
    color: #dd1144;
}
.highlight .na {
    color: teal;
}
.highlight .nb {
    color: #0086b3;
}
.highlight .nc {
    color: #458;
    font-weight: bold;
}
.highlight .no {
    color: teal;
}
.highlight .ni {
    color: purple;
}
.highlight .ne {
    color: #900;
    font-weight: bold;
}
.highlight .nf {
    color: #900;
    font-weight: bold;
}
.highlight .nn {
    color: #555555;
}
.highlight .nt {
    color: navy;
}
.highlight .nv {
    color: teal;
}
.highlight .ow {
    font-weight: bold;
}
.highlight .w {
    color: #bbbbbb;
}
.highlight .mf {
    color: #009999;
}
.highlight .mh {
    color: #009999;
}
.highlight .mi {
    color: #009999;
}
.highlight .mo {
    color: #009999;
}
.highlight .sb {
    color: #dd1144;
}
.highlight .sc {
    color: #dd1144;
}
.highlight .sd {
    color: #dd1144;
}
.highlight .s2 {
    color: #dd1144;
}
.highlight .se {
    color: #dd1144;
}
.highlight .sh {
    color: #dd1144;
}
.highlight .si {
    color: #dd1144;
}
.highlight .sx {
    color: #dd1144;
}
.highlight .sr {
    color: #009926;
}
.highlight .s1 {
    color: #dd1144;
}
.highlight .ss {
    color: #990073;
}
.highlight .bp {
    color: #999999;
}
.highlight .vc {
    color: teal;
}
.highlight .vg {
    color: teal;
}
.highlight .vi {
    color: teal;
}
.highlight .il {
    color: #009999;
}
audio {
    display: none;
}
.page {
    display: block;
    margin: 0 auto;
    font-size: 26px;
    position: relative;
    text-align: center;
}
.page > span, .page > a {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}
.next, .prev {
    display: inline-block;
    position: absolute;
    top: 0;
}
.prev {
    left: -20px;
}
.next {
    right: -20px;
}
.post-title {
    margin-top: 15px;
}
.post-list {
    height: 420px;
}
.ds-powered-by {
    display: none;
}
#owl {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.owl-carousel .owl-item img {
    margin: 0;
}
#owl .owl_link {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: 0.2s all;
}
#owl .item:hover .owl_link {
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}
#owl .owl_link:hover {
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}
@media all and (max-width: 480px) {
    .wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }
    .audiojs .time {
        display: none;
    }
    .audiojs .scrubber {
        width: 230px;
    }
    .audiojs {
        width: 290px;
    }
    .sm2-bar-ui {
        border-radius: 0;
    }
}
@font-face {
    font-family: 'FranchiseRegular';
    src: local('☺'), url('franchise-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}
#logo {
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'FranchiseRegular', sans-serif;
    font-size: 20px;
    color: #c44032;
}
#logo span {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    -webkit-transition: 0.5s all;
}
#logo span:hover {
    opacity: 0.8;
}
#logo .char1 {
    -webkit-transform: rotate(-3deg);
    top: 1px;
}
#logo .char2 {
    color: #e36b23;
    -webkit-transform: rotate(3deg);
}
#logo .char3 {
    color: #e6c92e;
    -webkit-transform: rotate(2deg);
    top: 1px;
}
#logo .char4 {
    color: #5da028;
    -webkit-transform: rotate(-2deg);
}
.arc-list {
    list-style: none;
}
.category_main {
    margin-top: 25px;
}
.category_main > div {
    display: none;
    -webkit-animation: fadeInDown 0.5s ease both;
}
.category_main ul {
    margin-left: 0;
}
.category_main .post-meta {
    display: inline-block;
    margin-left: 15px;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1abc9c;
    z-index: 99999999999999999999999999999999999999999999;
}
.loading p {
    left: 0;
    right: 0;
    position: absolute;
    top: 30%;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.loading img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -75px;
}
.loading .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -35px;
    width: 70px;
    text-align: center;
}
.loading .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
    animation: bouncedelay 1.4s infinite ease-in-out both;
}
.loading .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loading .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}
#toTop {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 5px;
    width: 64px;
    height: 64px;
    background-image: url('http://cody1991.github.io/sysutangzxBlog/source/up.png');
    background-repeat: no-repeat;
    opacity: 0.4;
    -webkit-transition: none;
}
#toTop {
    opacity: 0.8;
}
.demo-wrapper {
    z-index: 10;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.sm2-bar-ui {
    -webkit-transition: all 0.2s ease-in-out;
}
